*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 80px;
    background-color: #fee5a5;
    border-top: 5px solid #ffB838
}

.nav-grid{
    display: grid;
    grid-template-columns: 210px 1fr;
}

.logo{
    margin-top: 20px;
    color: #486d87;
}

.logo h1{
    font-size: 25px;
}

ul.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    text-transform: uppercase;
    margin-top: 5%;
}

ul.menu li{
    list-style: none;
}

ul.menu li a{
    text-decoration: none;
    color: #486d87;
    transition: .3s ease-in-out;
}

ul.menu li a:hover{
    background-color: #fdbb51;
    padding: 5px 10px;
    border-radius: 5px;
}


.content{
    width: 100%;
    height: auto;
    background-color: #f7f6ee;
}

.content-heading{
    font-size: 67px;
    color : #486d87;

}

.content-service-gird{
    
}